* { margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background: lightgray;
  align-items: center;
}
.main-header nav {
  padding-right: 5%;
}
.main-h1 {
  height: 3em;
  display: inline;
}
#profile-pic {
 width: 15%;
  display: inline;
}

.main-container {
 background: beige;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.PS-div {
  width:  80%;
  background-color: darkturquoise;
 
}

.resources-sidebar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  background-color: darkslategray;
  color: white; 
  }

.resources-sidebar nav, h3 {
  padding-left: 15px;
}
