* {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: whitesmoke
}

.grid-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;

}

.grid-item {
 
}

.grid-item1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
align-content: space-between;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  
  grid-template-columns: 1fr;
  grid-template-rows:repeat(5 1fr);
 align-items: start;
 background-color:teal;
}

.grid-item2 {
  background-color: sandybrown;
}

.grid-item3 {
  background-color: silver;
}

.grid-item4 {
  background-color: sandybrown;
}

.grid-item5 {
  background-color: silver;
}

.headshot {
  justify-self: center;
}

.contact_info{
justify-self: center;

}





.h1_edit {
  font-family: 'Advent Pro', sans-serif;
  padding-top: 20px;
  padding-left: 30px;
}



.address {
  padding-left: 24px;
  }

.phone_number {
  padding-left: 34px;
}
.phone_icon {
  padding-top: 20px;
  padding-left: 55px;
  padding-bottom: 10px;
}

.location_info {
  padding-top: 30px;
  
}

.drop_pin_icon {
  padding-left: 70px;
  padding-bottom: 10px;
}

.mail_icon {
  padding-top: 20px;
  padding-left: 65px;
  padding-bottom: 10px;
}

.email {
  padding-left: 18px;
}

.linkedin_icon {
  padding-top: 30px;
  padding-left: 64px;
}

.grid-item6 {
  
  grid-column-start: 2;
  grid-column-end: 3;
}

.firstname_title {
  font-family: 'Advent Pro', sans-serif;
  font-size: 80px;
  
}

span {
  padding-left: 70px;
}

.date_text {
  padding-left: 70px;;
}

ul {
  padding-left: 90px;
  font-family: 'Advent Pro', sans-serif;
}

.expertise_text {
  font-family: 'Advent Pro', sans-serif;
}

.pro_text {
  font-family: 'Advent Pro', sans-serif;
}

.education_text {
  font-family: 'Advent Pro', sans-serif;
}

p {
  font-family: 'Advent Pro', sans-serif;
}

